<div>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Consulta Inventario</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Panel de Inicio</a></li>
            <li class="breadcrumb-item active">Consulta de Inventario</li>
        </ol>

        <a href="/Inventory/Create" class="btn btn-dark">
            Crear Inventario
        </a>

        <div class="card my-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Resultado de Inventarios
            </div>
            <div class="card-body">
                <table id="tblInventories">
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/inventories.js"></script>
}
